<?xml version="1.0" ?>
<model>
    <name>Cube CoHoMa 0002 externe</name>
    <version>1.0</version>
    <sdf version="1.9">model.sdf</sdf>
   
      <author>
       <name>Aurelien TRICAULT</name>
       <email>a.tricault@inanix.fr</email>
      </author>
    
    <description>Cube de simulation dans le cadre du challenge CoHoMa</description>
</model>

