<?xml version="1.0"?>
<model>
  <name>robot_steering_wheel</name>
  <version>1.0</version>
  <sdf version='1.9'>model.sdf</sdf>
  <license>https://github.com/aionrobotics/aion_io/blob/master/LICENSE.txt</license>

  <author>
   <name>Inanix - Aurelien TRICAULT</name>
  </author>

  <description>
    Based on https://robotics.stackexchange.com/questions/30521/how-can-i-simulate-ackermann-steering-in-gazebo
  </description>
</model>
